:root {
	font-family: "sans-serif";
}

html, body {
	height: 100vh;
	padding: 0;
	margin: 0;
}

body {
	display: flex;
	flex-direction: column;
}

#main-container {
	flex: 1;
	display: flex;
	flex-direction: column;
}

main {
	flex: 1;
	padding: 1rem;
	max-width: 100%;
	align-items: center;
	justify-content: center;
	gap: 40px;
	display: flex;
	flex-direction: row;
}

header {
	user-select: none;
	text-align: center;
}

footer {
	width: 100%;
	text-align: center;
}

@media only screen and (max-width: 1080px) {
	main {
		flex-direction: column;
	}
}

#simulation-canvas {
	max-width: 600px;
	width: 100%;
	border: 2px solid #222;
}

#controls-container * {
	user-select: none;
}

.control-row {
	width: 400px;
	display: flex;
	align-items: center;
	gap: 15px;
}

.control-row label {
	width: 100px;
	flex-shrink: 0;
}

.control-row input {
	width: 200px;
	flex-shrink: 0;
}

.control-row .value-display {
	flex-grow: 1;

	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}
